# Custom Backend URL for local development or testing
# If left commented, localhost defaults to http://127.0.0.1:8000
# API_URL=http://127.0.0.1:8000

# To point local frontend to your live Render backend:
API_URL=https://nepal-fund.onrender.com
